<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%level] %logger{1}(%M):%3L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.my.web" level="trace" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="com.my.logic" level="trace" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="com.my.dao" level="trace" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>